.elementor-73 .elementor-element.elementor-element-bd9c4f3 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-bc-flex-widget .elementor-73 .elementor-element.elementor-element-0508749.elementor-column .elementor-column-wrap{align-items:center;}.elementor-73 .elementor-element.elementor-element-0508749.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-73 .elementor-element.elementor-element-d528cfa{text-align:left;display:block;}.elementor-73 .elementor-element.elementor-element-d528cfa .elementor-image img{width:60%;}.elementor-73 .elementor-element.elementor-element-d528cfa > .elementor-widget-container{padding:45px 0px 0px 0px;}.elementor-73 .elementor-element.elementor-element-2aab6cb{text-align:left;display:block;}.elementor-73 .elementor-element.elementor-element-2aab6cb .elementor-image img{width:60%;}.elementor-bc-flex-widget .elementor-73 .elementor-element.elementor-element-5c9a375.elementor-column .elementor-column-wrap{align-items:center;}.elementor-73 .elementor-element.elementor-element-5c9a375.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-73 .elementor-element.elementor-element-fb89df9 .elementor-nav-menu .elementor-item{font-size:1em;line-height:30px;}.elementor-73 .elementor-element.elementor-element-fb89df9 .elementor-nav-menu--main .elementor-item{color:#FFFFFF;}.elementor-73 .elementor-element.elementor-element-fb89df9 > .elementor-widget-container{margin:20px 0px 0px 0px;}.elementor-73 .elementor-element.elementor-element-fb89df9{display:block;}.elementor-73 .elementor-element.elementor-element-48e8bd8 .elementor-button{font-size:18px;font-weight:700;fill:#FFFFFF;color:#FFFFFF;background-color:rgba(2, 1, 1, 0);}.elementor-73 .elementor-element.elementor-element-48e8bd8 .elementor-button:hover, .elementor-73 .elementor-element.elementor-element-48e8bd8 .elementor-button:focus{color:#FFFFFF;}.elementor-73 .elementor-element.elementor-element-48e8bd8 .elementor-button:hover svg, .elementor-73 .elementor-element.elementor-element-48e8bd8 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-73 .elementor-element.elementor-element-48e8bd8{display:block;}.elementor-bc-flex-widget .elementor-73 .elementor-element.elementor-element-2df68ae.elementor-column .elementor-column-wrap{align-items:center;}.elementor-73 .elementor-element.elementor-element-2df68ae.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-73 .elementor-element.elementor-element-2df68ae > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-73 .elementor-element.elementor-element-4aa0986 .elementor-button{font-size:1em;font-weight:700;fill:#FFFFFF;color:#FFFFFF;background-color:rgba(2, 1, 1, 0);border-style:solid;border-width:1px 1px 1px 1px;border-radius:2px 2px 2px 2px;padding:13px 26px 13px 26px;}.elementor-73 .elementor-element.elementor-element-4aa0986{display:block;}.elementor-73 .elementor-element.elementor-element-bd9c4f3:not(.elementor-motion-effects-element-type-background), .elementor-73 .elementor-element.elementor-element-bd9c4f3 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:rgba(177, 26, 26, 0);}.elementor-73 .elementor-element.elementor-element-bd9c4f3{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:-160px;padding:20px 100px 0px 100px;z-index:5;}.elementor-73 .elementor-element.elementor-element-bd9c4f3 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}@media(max-width:1024px){.elementor-73 .elementor-element.elementor-element-d528cfa{display:block;}.elementor-73 .elementor-element.elementor-element-2aab6cb{display:block;}.elementor-73 .elementor-element.elementor-element-fb89df9{display:block;}.elementor-73 .elementor-element.elementor-element-48e8bd8{display:block;}.elementor-73 .elementor-element.elementor-element-4aa0986{display:block;}}@media(max-width:767px){.elementor-73 .elementor-element.elementor-element-0508749{width:50%;}.elementor-73 .elementor-element.elementor-element-0508749 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 20px;}.elementor-73 .elementor-element.elementor-element-d528cfa .elementor-image img{width:70%;}.elementor-73 .elementor-element.elementor-element-d528cfa{display:block;}.elementor-73 .elementor-element.elementor-element-2aab6cb{text-align:left;display:block;}.elementor-73 .elementor-element.elementor-element-2aab6cb > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-73 .elementor-element.elementor-element-5c9a375{width:50%;}.elementor-73 .elementor-element.elementor-element-5c9a375 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 20px 0px 0px;}.elementor-73 .elementor-element.elementor-element-fb89df9{display:block;}.elementor-73 .elementor-element.elementor-element-48e8bd8 .elementor-button{font-size:28px;padding:0px 0px 0px 0px;}.elementor-73 .elementor-element.elementor-element-48e8bd8 > .elementor-widget-container{margin:10px 0px 0px 0px;}.elementor-73 .elementor-element.elementor-element-48e8bd8{display:block;}.elementor-73 .elementor-element.elementor-element-4aa0986{display:block;}.elementor-73 .elementor-element.elementor-element-bd9c4f3{padding:10px 0px 10px 0px;}}/* Start custom CSS for nav-menu, class: .elementor-element-fb89df9 */nav > ul > li:hover:after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: -10px;
    background: url(../../2020/01/Chevron.svg) no-repeat;
    background-size: 100%;
    left: calc(50% - 7.5px);
}

nav > ul > li.current-menu-item:after{
     content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: -10px;
    background: url(../../2020/01/Chevron.svg) no-repeat;
    background-size: 100%;
    left: calc(50% - 7.5px);
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-fb89df9 */nav > ul > li:hover:after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: -10px;
    background: url(../../2020/01/Chevron.svg) no-repeat;
    background-size: 100%;
    left: calc(50% - 7.5px);
}

nav > ul > li.current-menu-item:after{
     content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: -10px;
    background: url(../../2020/01/Chevron.svg) no-repeat;
    background-size: 100%;
    left: calc(50% - 7.5px);
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-bd9c4f3 */@media only screen and (max-width: 1280px) {
    nav ul li{
        font-size: 16px;
        padding: 0px;
    }
    
    #header1{
        margin-bottom: -195px;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }

}

@media only screen and (max-width: 768px) {
    #header1{
        width: 100%;
        padding-right: 0px;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 1024px) {
    #header1{
        width: 100%;
        padding-right: 0px;
        padding-left: 80px;
    }
}

@media only screen and (max-width: 600px) {
    #header1{
        width: 100%;
        padding-left:5px;
        padding-right:5px;
        padding-top: 10px;
    }
   
}

@media only screen and (max-width: 400px) {
     #header1{
        width: 100%;
        padding-left:5px;
        padding-right:5px;
        padding-top: 10px;
    }
}

/* Changes the header to not be sticky when editing (doesn't show in the front end) */


.newlogo{
    display: none !important;
}
 
body.elementor-editor-active .elementor-73 .elementor-element.elementor-element-bd9c4f3 {
margin-bottom:0px !important;
}
 @media screen and (min-width:768px){
/* Background color on sticky */
.elementor-sticky--effects {
background-color:rgba(255,255,255,1) !important;
transition: all 0.5s ease;
top:-20px !important;
padding-top:0px !important;
z-index:122 !important;
}
 
/* --- LOGO ---- */
/* Logo sizing before sticky */
.elementor-widget-theme-site-logo img {
width: auto;
max-height: 120px;
transition: all 0.5s ease;
}
 
/* Logo sizing after sticky */
.elementor-sticky--effects .elementor-widget-theme-site-logo img {
max-height: 65px;
width: auto;
}





.elementor-sticky--effects .newlogo{
    display: block !important;
}

.elementor-sticky--effects .oldlogo{
    display: none;
}

.elementor-sticky--effects .elementor-nav-menu--main .elementor-item{
    color: #0a3a47 !important;
}

.elementor-sticky--effects .elementor-widget:not(:last-child)
{
    margin-bottom: 0px;
}

.elementor-sticky--effects .elementor-button-link.elementor-button{
    background:#682942 !important;
    color:#fff !important;
        border: 0px !important;
    margin-top: 20px;
}

}


.elementor-sticky--effects .elementor-mobile-align-right .elementor-button-link.elementor-button{
    background: #fefefe !important;
    color: #333 !important;
}


@media screen and (max-width:768px){
    .elementor-sticky--effects{
           background-color: #fff !important;
    top: 0 !important;
    width: 100% !important;
    z-index:122;
    }
    
    .elementor-sticky--effects .elementor-button-icon i{
        color:#333;
    }
    
    .elementor-sticky--effects .newlogo{
            display: block !important;
    position: absolute;
    top: -37px;
    left: -15px;
    }
    
    .elementor-sticky--effects .oldlogo{
        display:none !important;
    }
}

@media screen and (max-width:768px){
      .jet-tabs__control-wrapper, .jet-tabs__control-wrapper .jet-tabs__control.elementor-menu-anchor, .jet-tabs__control .jet-tabs__label-text {
        width:100%;
        text-align:center;
    }
    
    .jet-tabs__content .jet-tabs__control-wrapper, .jet-tabs__content .jet-tabs__control-wrapper .jet-tabs__control.elementor-menu-anchor, .jet-tabs__content .jet-tabs__control .jet-tabs__label-text{
        width:auto;
    }
    
    
    #header1{
        padding-left:45px !important;
        width:100% !important;
    }
    
    #header1 .elementor-column.elementor-col-16{
        width:33% !important;
    }
}


html. body{
    overflow-x: hidden;
}


@media screen and (max-width:568px){
     #header1{
        padding-left:0px !important;
        width:100% !important;
    }
    
    #header1 .elementor-col-66{
        width:65% !important;
    }
}/* End custom CSS */